@import '../../variables';
$green: #8ACC2D;
$blue: #21293A;
$red:#CF4D7D;
$cyan: #15C7BA;
$orange: #C76A15;
@font-face {
    font-family: typo;
    src: url("../../fonts/Typo_Round_Regular_Demo.otf") format("opentype");
}

@font-face {
    font-family: typo;
    font-weight: bold;
    src: url("../../fonts/Typo_Round_Bold_Demo.otf") format("opentype");
}
.landDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
.landContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    min-height: 80vh;
    background-color: $blue;
    border-radius: 20px;
    h1{
        width: 90%;
        margin: 0;
        color: $green;
        font-weight: bold;
        // align-self: flex-start;
        padding: 1em 0 0 0;
        font-size: clamp(30px, 40px, 42px ); 
        line-height: 1em;
    }
    .uga_text{
        font-size: clamp(30px, 40px, 42px );
        line-height: 1em;
        color: white;
        text-decoration: underline;
    }
    .ugasMap{
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 500px;
        max-height: 40vh;
    }
    h2{
        // align-self: flex-start;
        font-size: clamp(15px, 17px, 19px );
        line-height: 1em;
        color: $red;
        padding: 1em 0;
        width: 90%;
    }
    .infoGroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        h3{
            align-self: flex-start;
            font-size: clamp(13px, 14px, 16px );
            line-height: 1em;
            color: $green;
        }
        p{
            align-self: flex-start;
            color: white;   
        }
    }
}
.optionSelector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    button{
        background-color: $green;
        color: white;
        max-width: 45%;
        width: 45%;
        height: 30px;
        font-size: 10px;
        border-radius: 15px;
    }
}

.criteriosContainer{
    display: flex;
        flex-direction: column;
        align-items: center;
    color: white;
    width: 90%;
    h3{
        color: $green
    }
    ul{
        max-width: 95%;
    }
}